@media(max-width: 574px){
  .navbar-search {
    padding: 10px 20px 10px 20px;
  }
}

@media(min-width: 575px){
  .navbar-search {
    padding: 10px 30px 10px 30px;
  }
}
.navbar-search-input {
  border-radius: 2px 0 0 2px;
  border: 0 none;
  font-size: 15px;
}

.navbar-search-button {
  border-radius: 0 2px 2px 0;
  padding: 10px 0px
}

.cart-svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-cart {
  margin: 10px 0;
  padding-left: 6px;
}
